// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$primary-color: #3D2645;
$seconday-color: #4B4E6D;
$primary-accent: #222222;
$secondy-accent: #95A3B3;

* {
  border-style: solid;
  border-width: 1px;
}

.header-group {
  color: $primary-color;
}


/* ================================================================================ */

.header-group {
  display: flex;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;

}

.header-item {
  height: 100%;
  align-self: auto;
  text-align: center;
  vertical-align: middle;
  // position: relative;




}
